<div class="container">
  <div class="row mt-2">
    <div class="col"></div>
    <div class="col-10 d-flex flex-column justify-content-center">
      <% if skills.present? %>
        <table class="table">
          <thead>
          <tr>
            <th>Название</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% skills.each do |item| %>
            <tr>
              <td>
                <%= item.name %>
              </td>
              <td><%= link_to 'Удалить', managers_delete_skill_path(skill_id: item.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-2">
    <div class="col"></div>
    <div class="col-10 d-flex flex-column justify-content-center text-center">
      <%= form_with model: skill_model, local: true, method: :post, url: managers_create_skill_path do |form| %>
        <div class="field">
          <%= form.label "Навык (сфера деятельности)" %><br/>
          <%= form.text_field :name %>
        </div>
        <%= form.submit "Добавить", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>



