<div class="container">
  <div class="row mt-2">
    <div class="col"></div>
    <div class="col-10 d-flex flex-column justify-content-center">
      <% if subjects.present? %>
        <table class="table">
          <thead>
          <tr>
            <th>Название</th>
            <th>Специальность</th>
          </tr>
          </thead>
          <tbody>
          <% subjects.each do |item| %>
            <tr>
              <td>
                <%= item.name %>
              </td>
              <td>
                <%= item.specialty.name %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-2">
    <div class="col"></div>
    <div class="col-10 justify-content-center text-center">
      <%= form_with model: subject_model, method: :post, local: true, url: managers_create_subject_path do |form| %>
        <div class="field">
          <%= form.label "Название" %><br/>
          <%= form.text_field :name %>
        </div>
        <div class="field">
          <%= form.label "Специальность" %><br/>
          <%= form.collection_select :specialty_id, specialties, :id, :name %>
        </div>
        <%= form.submit "Добавить", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>
