<% content_for :scripts_block do %>
  <%= javascript_pack_tag 'bootstrap_script' %>
  <%= stylesheet_pack_tag 'bootstrap_script' %>
<% end %>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link<%= ' active' if params[:active_tab] == 'group' || params[:active_tab].blank? %>" id="nav-home-tab" data-toggle="tab" href="#nav-groups" role="tab" aria-controls="nav-home" aria-selected="true">Группы</a>
    <a class="nav-item nav-link<%= ' active' if params[:active_tab] == 'specialty' %>" id="nav-profile-tab" data-toggle="tab" href="#nav-specialties" role="tab" aria-controls="nav-profile" aria-selected="false">Специальности</a>
    <a class="nav-item nav-link<%= ' active' if params[:active_tab] == 'subject' %>" id="nav-contact-tab" data-toggle="tab" href="#nav-subjects" role="tab" aria-controls="nav-contact" aria-selected="false">Предметы</a>
    <a class="nav-item nav-link<%= ' active' if params[:active_tab] == 'skill' %>" id="nav-contact-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-contact" aria-selected="false">Навыки</a>
    <a class="nav-item nav-link" id="nav-marks-tab" onclick="location.href='<%= url_for marks_path %>'" data-toggle="tab" href="<%= url_for marks_path %>" role="tab" aria-controls="nav-contact" aria-selected="false">Оценки</a>
    <a class="nav-item nav-link" id="nav-marks-tab" onclick="location.href='<%= url_for statistics_index_path %>'" data-toggle="tab" href="" role="tab" aria-controls="nav-contact" aria-selected="false">Статистика</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade<%= ' show active' if params[:active_tab] == 'group' || params[:active_tab].blank? %>" id="nav-groups" role="tabpanel" aria-labelledby="nav-home-tab">
    <%= render partial: '/managers/partials/groups', locals: {groups: @groups, group_model: @group_model} %>
  </div>
  <div class="tab-pane fade<%= ' show active' if params[:active_tab] == 'specialty' %>" id="nav-specialties" role="tabpanel" aria-labelledby="nav-profile-tab">
    <%= render partial: '/managers/partials/specialties', locals: {specialties: @specialties, specialty_model: @specialty_model} %>
  </div>
  <div class="tab-pane fade<%= ' show active' if params[:active_tab] == 'subject' %>" id="nav-subjects" role="tabpanel" aria-labelledby="nav-contact-tab">
    <%= render partial: '/managers/partials/subjects', locals: {subjects: @subjects, subject_model: @subject_model, specialties: @specialties} %>
  </div>
  <div class="tab-pane fade<%= ' show active' if params[:active_tab] == 'skill' %>" id="nav-skills" role="tabpanel" aria-labelledby="nav-contact-tab">
    <%= render partial: '/managers/partials/skills', locals: {skills: @skills, skill_model: @skill_model} %>
  </div>
</div>
