<!DOCTYPE html>
<html>
<head>
  <title>Электронный кампус</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <% content_for :scripts_block do %>
    <%= javascript_pack_tag :bootstrap_script %>
    <%= stylesheet_pack_tag :bootstrap_script %>
  <% end %>


  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :scripts_block %>
</head>

<body>
<% if alert.present? %>
  <div class="alert alert-warning" role="alert"><%= alert %></div>
<% end %>
<% if notice.present? %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a href="<%= url_for root_path %>" class="navbar-brand">Кампус</a>
  <% if current_user.present? %>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %>
  <% end %>
</nav>
<%= yield %>
</body>
</html>
